.btn.btn-primary {
    margin-right:1%;
    margin-top:1%;
}

.bg-dark-important {
    background-color: black !important;
}

.bg-light-important {
    background-color: white !important;
}

.text-dark-important li a  {
    color:black !important;
}
.text-light-important li a {
    color:white !important;
}
