.btn.btn-primary {
    margin-right:1%;
    margin-top:1%;
}
.leftPaddingnone {
    padding-left:0 !important;
}

.textpreviewparent{
    min-height:10vh;
    padding-bottom:5vh;
}

.textpreview {
    overflow-wrap: break-word !important;
}